 @import "values";

.main {
    background-color: tan;
    h1 {
    color: #ddd;
    @include flex(flex-start,flex-start)
    }
    
    h1:hover {
     text-decoration: underline;
     @extend %center;
    }
    h2 {
      background-color: $brown1;
      @include flex(center,center);
    }
    h3 {
      background-color: $brown1;
      @include flex(flex-end,flex-end);
    }
  
}



.minor {
    background-color: silver;
    h1{
    text-decoration: underline;
    @extend %center;
    margin-bottom: (25px * 4);
  }
    h2 {
    text-decoration: line-through;
    @extend %center;
  }
}

 

    


